In [ ]:
#Import Necessary Libraries
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine
from google.colab import drive

In [ ]:
#Create class and function for reading and exporting data to csv towards personal Google Drive
class ReadData:

    def __init__(self, sql_script, password, csv_name):
        self.sql_script = sql_script
        self.password = password
        self.csv_name = csv_name

    def read(self):

        try:

            # inisiasi connection
            engine = pg.connect("""
                                    dbname='postgres'
                                      user='postgres'
                                        host='database.cezaebyc9hil.us-west-1.rds.amazonaws.com'
                                          port='5432'
                                            password='{}'
                                  """.format(self.password)
                              )

            print("success connect database rds")

        except:

            print("cannot connect database")

        # query
        query = """
                {}
                """.format(self.sql_script)

        # fungsi untuk query ke database
        data = pd.read_sql(query, engine)

        # menampilkan 5 data teratas ditable tsb
        print(data.head())


        drive.mount('/content/drive')
        path = '/content/drive/My Drive/{}'.format(self.csv_name)

        with open(path, 'w', encoding = 'utf-8-sig') as f:
          data.to_csv(f)

        # create dest ip
        #engine_one = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

        # to table
        #data.to_sql("customer", engine_one, if_exists='append', index=False)


        # close connection database
        engine.close()

In [ ]:
#Execute the function based on params (query, pass, csv_name)
panggil = ReadData('''select
                        e.first_name ,
                        t.title ,
                        tr.training_type ,
                        tr.training_name ,
                        tr.mandatory ,
                        tr.training_level
                    from employee e
                    left join emp_training etr
                    on e.emp_id = etr.emp_id
                    left join training tr
                    on tr.training_id = etr.training_id
                    left join emp_title et
                    on et.emp_id = e.emp_id
                    left join title t
                    on et.title_id = t.title_id
                    order by
                    t.title_id asc
                    ''', 'yafie040400', 'result_g2test_1.csv')
panggil.read()

success connect database rds
  first_name         title        training_type            training_name  \
0     Thalla           CEO                 None                     None
1      Yafie  Head of Data  Management Training  How to be a Good Leader
2      Yafie  Head of Data           Onboarding    Learning Organization
3       Glen     Data Team           Onboarding    Learning Organization
4    Bharoar     Data Team           Onboarding    Learning Organization

  mandatory training_level
0      None           None
1      True       Advanced
2      True       Beginner
3      True       Beginner
4      True       Beginner
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Create class and function for showing data
class ShowData:

    def __init__(self, sql_script, password):
        self.sql_script = sql_script
        self.password = password

    def read(self):

        try:

            # inisiasi connection
            engine = pg.connect("""
                                    dbname='postgres'
                                      user='postgres'
                                        host='database.cezaebyc9hil.us-west-1.rds.amazonaws.com'
                                          port='5432'
                                            password='{}'
                                  """.format(self.password)
                              )

            print("success connect database rds")

        except:

            print("cannot connect database")

        # query
        query = """
                {}
                """.format(self.sql_script)

        # fungsi untuk query ke database
        result = pd.read_sql(query, engine)

        # menampilkan 5 data teratas ditable tsb
        print(result)
        # create dest ip
        #engine_one = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

        # to table
        #data.to_sql("customer", engine_one, if_exists='append', index=False)


        # close connection database
        engine.close()

In [ ]:
#Execute the program based on SQL function that returns table of avg and stddev of latest salary per job level
panggil2 = ShowData('''select
                        *
                      from
                        get_Avg_salary_job_level(1)
                    ''', 'yafie040400')
panggil2.read()

success connect database rds
   job_level    avg_salary        st_dev
0          1  8.666667e+06  1.027402e+06